@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  margin-bottom: 2em;
  .hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      height: 6.25em;
      width: 6.25em;
      @media (max-width: 800px) {
        display: none;
      }
    }
    .name {
      margin: 0;
      font-family: $kulim;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: calc(0.72rem + 1vw);
      &__first {
        text-indent: calc(1rem + 1vw);
      }
    }
  }
  .bio {
    font-size: 2em;
    padding: 10px;
    font-family: $playfair;
    font-weight: 700;
    a {
      text-decoration: none;
      color: #303641;
      // filter: grayscale(30%);
      transition: all 0.3s;
      span:hover {
        color: black;
      }
    }
    // a:hover {
    //   color: black;
    // }
    a:visited {
      text-decoration: none;
      // filter: grayscale(30%);
      color: #303641;
    }
  }
  &__container {
    max-width: calc(35rem + 1vw);;
    border: 4px #303641 solid;
    @media (max-width: 800px) {
      max-width: calc(25rem + 1vw);
    }
  }
  span {
    width: 50%;
  }
}