.contact {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // align-items: center;
  a {
    color: $background;
  }
  p {
    font-size: 2em;
    font-weight: 700;
    padding: 10px;
    font-family: $playfair;
    max-width: 40rem;
    margin: 0;
  }
  .social {
    transition: color 1s;
    svg {
      height: 50px;
      width: 50px;
    }
  }
  .linkedin {
    &:hover {
      color: #0077b5;
    }
  }
  .mail {
    &:hover {
      color: #cc3429;
    }
  }
  .github {
    &:hover {
      color: #24292e;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin-right: 0.4rem;
    max-width: calc(35rem + 1vw);;
    border: 4px #303641 solid;
    @media (max-width: 800px) {
      max-width: calc(25rem + 1vw);
    }
  }
}

@media (max-width: 400px) {
  .contact {
    flex-direction: column;
    div {
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}