.contact {
  a {
    color: $background;
  }
  p {
    font-size: 2em;
    font-weight: 700;
    padding: 10px;
    font-family: $playfair;
    max-width: 40rem;
    margin: 0;
  }
  .social {
    transition: color 1s;
    padding: calc(0.2rem + 1vw) 0 0 0;
    svg {
      height: 50px;
      width: 50px;
    }
  }
  .linkedin {
    &:hover {
      color: #0077b5;
    }
  }
  .mail {
    &:hover {
      color: #cc3429;
    }
  }
  .github {
    &:hover {
      color: #24292e;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin-right: 0.4rem;
    max-width: calc(35rem + 1vw);;
    border: 4px #303641 solid;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    @media (max-width: 800px) {
      max-width: calc(25rem + 1vw);
    }
  }
}
