.contact {
  &__social {
    padding-bottom: 2em ;
  }
  a {
    color: $background;
  }
  p {
    font-size: 1.5em;
    padding: 10px;
    font-family: $playfair;
    margin: 0;
  }
  .social {
    transition: color .5s;
    padding: calc(0.2rem + 1vw) 0 0 0;
    svg {
      height: 50px;
      width: 50px;
    }
  }
  .linkedin {
    &:hover {
      color: #0077b5;
    }
  }
  .mail {
    &:hover {
      color: #cc3429;
    }
  }
  .github {
    &:hover {
      color: #24292e;
    }
  }
  &__container {
    padding: 1em;
    display: flex;
    color: $background;
    flex-direction: column;
    max-width: calc(35rem + 1vw);
    background-color: burlywood;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .3);

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    @media (max-width: 800px) {
      max-width: 80%;
    }
  }
}
