@import './palette.scss';

@-webkit-keyframes AnimationName {
  0%{background-position:0% 11%}
  50%{background-position:100% 90%}
  100%{background-position:0% 11%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 11%}
  50%{background-position:100% 90%}
  100%{background-position:0% 11%}
}
@keyframes AnimationName {
  0%{background-position:0% 11%}
  50%{background-position:100% 90%}
  100%{background-position:0% 11%}
}

:root {
  font-size: calc(0.5em + 1vw);
}

* {
  margin-top: 0px;
}
.container {
  position: relative;
  height: 100vh;
  color: rgb(215, 218, 218);
  background: linear-gradient(192deg, #5296a5, #82ddf0);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 37s ease infinite;
  -moz-animation: AnimationName 37s ease infinite;
  animation: AnimationName 37s ease infinite;
}