@import './palette.scss';

.menu-container {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: row;

  .content-item {
    border-radius: 0;
    height: 4em;
    width: 10em;
    margin: 1em;
    box-shadow: 0px 0px 8px rgb(61, 66, 67);
    // background-color: rgb(215, 218, 218);
    background-color: $background;
    color: $text;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      height: max-content;
      margin: 0;
    }  
  }
  .content-item:hover {
    cursor: pointer;
  }
  div.top {
    display: default;
  }
  .hidden {
    // opacity: 0.3;
    display: none;
    animation-name: hide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-play-state: running;
  }
  .showing {
    opacity: 1;
    position: relative;
    animation-name: show;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-play-state: running;
  }
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
      display: none;
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
      left: 200px;
    }
    100% {
      opacity: 1;
      left: 0px;
    }
  }
}

