@import './palette.scss';

* {
  margin-top: 0px;
}
.container {
  height: 100vh;
  // background-color: #fff;
  background-color: $background;
  color: rgb(215, 218, 218);
  // text-transform: uppercase;
  display: grid;
  grid-template: 10vh 90vh / 30vw 70vw;
}