@import './palette.scss';
.menu {
  z-index: 10;
  // position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #303641;
  // opacity: 0.85;
  // height: 12.5em;
  padding: 2em 0;
  width: 100vw;
  .hero {
    margin: 1em 0 ;
    border-radius: 100%;
    box-shadow: 0 0 10px white;
    height: 6.25em;
    width: 6.25em;
  }
  a {
    font-family: 'Kulim Park', sans-serif;
    transition: all 280ms ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: white;
    letter-spacing: 0;
    cursor: pointer;
    &:hover,&:active {
      letter-spacing: 5px;      
    }
    &:visited {
      color: white;
    }
    &:after,&:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }
    &:hover:after,&:hover:before {
      backface-visibility: hidden;
      border-color: #fff;
      transition: width 350ms ease-in-out;
      width: 100%;
    }
    // &:hover:before {
    //   bottom: auto;
    //   top: 0;
    //   width: 70%;
    // }
  }
}
.big-menu {
  height: 12.5em;
  .hero {
    height: 6.25em;
  }
}
.little-menu {
  height: 6.25em;
  .hero {
    height: 0em
  }
}
ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
  }
}