@import './palette.scss';

* {
  box-sizing: border-box;
}

.card__link {
  text-decoration: none;
  // text-transform: uppercase;
  // margin: 15px;
  padding: 0 1em;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  // text-align: center;
    &:visited {
      color: black;
      text-transform: uppercase;
    }
    &:hover {
      filter: grayscale(0%);
    }
}

.card {
  background-color: white;
  color: $background;
  border-radius: 5px;
  z-index: -1;
  float: left;
  position: relative;
  width: calc(100% * .3333 + .3333 * 40px);
  width: 100%;
  min-width: 300px;
  // width: 20em;
  height: 24.5em;
  margin: 0 15px;
  // perspective: 1000;

  img {
    border-radius: 5px 5px 0 0;
    height: 50%;
    width: 100%;
    filter: blur(10px);
    transition: all .25s ease-in-out;

    &:hover {
      filter: blur(0px);
    }
  }
  
  &__tech {
    font-size: 1em;
    line-height: 0.9;
    font-weight: 700;
  }

  
  &__title {
    font-family: 'DM Serif Display', serif;
    text-transform: capitalize;
    font-size: 2em;
    margin: 0 8px 0 0;
    font-weight: 700;
    
  }
  
  @media (max-width: 700px) {
    width: 100%;
    // height: 290px;
    margin-right: 0;
    float: none;
 
  }
}