@import './palette.scss';

* {
  box-sizing: border-box;
}
@keyframes fadein {
  from {
    opacity: 0;
    letter-spacing: -5px;
  }
  to {
    opacity: 1;
    letter-spacing: 5px;
  }
}

.card {
  background-color: white;
  color: $background;
  border-radius: 5px;
  border: 3px solid rgba(255,255,255,.0);
  transition: all .25s ease-in-out;
  z-index: 1;
  float: left;
  position: relative;
  width: calc(100% * .3333 + .3333 * 40px);
  width: 100%;
  min-width: 300px;
  // width: 20em;
  height: 24.5em;
  margin: 0 15px;
  // perspective: 1000;
  a {
    z-index: 100;
    font-size: 1em;
  }

  img {
    // border-radius: 5px 5px 0 0;
    height: 50%;
    width: 100%;
    filter: grayscale(100%);
    transition: all .25s ease-in-out;

  }
  &:hover {
     img {
       filter: grayscale(0%)
     }
    //  transform: scale(1.02);
     border: 3px solid $highlight;
  }

  &__content {
    margin: 0 .25em;
  }
  
  &__tech {
    font-size: 1em;
    line-height: 0.9;
    font-weight: 700;
  }

  &__link {
    text-decoration: none;
    // margin: 15px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    opacity: 1;
    &:visited {
      color: black;
      text-transform: uppercase;
    }
    
  }

  
  &__title {
    font-family: 'DM Serif Display', serif;
    text-transform: capitalize;
    font-size: 2em;
    margin: 0 8px 0 0;
    font-weight: 700;
    
  }

  .source-code {
    &:hover {
      filter: grayscale(0%);
      &:after {
        content: "Source Code";
        position: absolute;
        width: max-content;
        padding-left: 0.3em;
        animation-name: fadein;
        animation-duration: 2s;
        animation-iteration-count: 1;
        letter-spacing: 5px;
      }
    }
  }
  
  @media (max-width: 700px) {
    width: 100%;
    // height: 290px;
    margin-right: 0;
    float: none;
 
  }
}