@import './palette.scss';

.section {
  height: 400px;
  width: 100vw;
  position: relative;
  top: 100vh;
  // padding-top: 235px;
  // margin-top: 235px;
  opacity: 0.85;
}

.projects {
  background-color: $highlight;
}
.posts {
  text-transform: uppercase;
}
.contact {
  background-color: $background;
  color: black;
}
.footer {
  height: 200px;
  width: 100vw;
  position: relative;
  top: 100vh;
  opacity: 0.85;
}