
//FONTS
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Kulim+Park:400,700&display=swap');
$kulim: 'Kulim Park', 'Helvetica', Arial ,sans-serif;
$dm: 'DM Serif Display', serif;

$background: #303641;
$text: #fff;
$highlight: #89c4f4;
