
//FONTS
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:wght@400;700|Kulim+Park:400,700&display=swap');
$kulim: 'Kulim Park', 'Helvetica', Arial ,sans-serif;
$playfair: 'Playfair Display', serif;;

$background: #303641;
$text: #fff;
$highlight: #89c4f4;
